<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Insight - Hospital Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Project Insight</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact">Contact us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/signup+hospital">Medical Institution</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="position-relative py-4 py-xl-5" style="margin-top: 80px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-hospital">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zM4 4h2v2H4V4zm6 0h2v2h-2V4zM4 8h2v2H4V8zm6 0h2v2h-2V8zM8 4h2v2H8V4zm0 4h2v2H8V8zm0 4h2v2H8v-2zm-4 0h2v2H4v-2zm6 0h2v2h-2v-2z"></path>
                                </svg>
                            </div>
                            <form method="post" action="/login+hospital">
                                <div class="mb-3">
                                    <input class="form-control" type="email" name="Email" placeholder="Email" required>
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="password" name="Password" placeholder="Password" required>
                                </div>
                                <button class="btn btn-primary d-block w-100" type="submit">Login</button>
                            </form>
                            <p class="text-muted">Don't have an account? <a href="/signup+hospital">Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/script.min.js') }}"></script>
</body>
</html>